%li.list-group-item.line-item{id: line_item==@current_item ? 'current_item' : ''}
  %ul.list-unstyled
    %li
      = line_item.quantity 
      \× 
      = link_to line_item.product.title, store_path(line_item.product)
    %li= number_to_currency(line_item.total_price)
    %li.btn-group
      = button_to line_item, method: :delete, remote: true, class:'btn btn-danger btn-xs' do
        .glyphicon.glyphicon-trash   
      = button_to change_quantity_of_line_item_path(line_item), method: :post, remote: true, class:'btn btn-success btn-xs' do
        .glyphicon.glyphicon-plus   
      = button_to change_quantity_of_line_item_path(line_item), method: :delete, remote: true, class:'btn btn-success btn-xs' do
        .glyphicon.glyphicon-minus